.table {
    margin-top: 20px;
    overflow: scroll;
    color: #6a5d5d;
    background-color: rgb(248, 247, 245);
    height: 400px;
    font-weight: 400;
  }
  
  .table tr {
    display: flex;
    justify-content: space-between;
  }
  
  .table td {
    padding: 0.5rem;
    border: none;
  }
  
  .table tr:nth-of-type(odd) {
    background-color: bisque;
  }
  